<p>
    <small>
        Ecrit par <a href="{{ path('user_show', {id: article.author.id}) }}">{{ article.author.name }}</a>
    </small>
</p>
<p>
    <small>Publié dans
        <a href="{{ path('category_show', {id: article.category.id}) }}">{{ article.category.name }}</a>
        le {{ article.createdAt|date('Y-m-d H:i:s') }}, dernière mise à jour le {{ article.updatedAt|date('Y-m-d H:i:s') }}
    </small>
</p>
