{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}
<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('home') }}">Mon beau blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('article_list') }}">Articles <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_list') }}">Catégories</a>
                </li>
                </ul>
                <div>
                    {% if app.user %}
                        <a href="{{ path('user_show', {id: app.user.id}) }}">{{ app.user.name }}</a>
                        <a class="btn btn-outline-success" href="{{ path('user_publish') }}">Publier</a>
                        <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% else %}
                        <a class="btn btn-outline-secondary" href={{ path('app_signup' )}}>S'inscrire</a>
                        <a class="btn btn-outline-primary" href={{ path('app_login' )}}>Se connecter</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        Copyright &copy; 2020 CDA Grenoble
    </footer>
</div>
{% endblock %}
